#######################################
# the config file for the myjfm spider
#######################################

# the path that the web pages fetched to be saved
SAVEPATH /home/myjfm/work/myjfm_spider/output

# the interval between two crawls (seconds)
INTERVAL 5

# the number of downloaders
DOWNLOADERS 5

# the number of extractors
EXTRACTORS 5

# the number of schedulers
SCHEDULERS 1

# the number of threads
FILETYPES .html .htm .jpg .jpeg

# the start urls
SEEDURLS http://www.google.com.hk http://www.github.com http://www.sogou.com http://www.sina.com.cn http://www.sohu.com http://www.qq.com http://www.cnblogs.com http://www.cppblog.com http://www.baidu.com/s?wd=myjfm_spider&rsv_spt=1&issp=1&rsv_bp=0&ie=utf-8&tn=baiduhome_pg&rsv_sug3=3&rsv_sug=0&rsv_sug1=3&rsv_sug4=29

# save info log here
LOGFILEPATH /home/myjfm/work/myjfm_spider/output

# save error and fatal log here
ERRFILEPATH /home/myjfm/work/myjfm_spider/output

# create TCP connecton timeout
CREATE_CONNECTION_TIMEOUT 5

# send TCP packet timeout
SEND_TIMEOUT 20

# recv TCP packet timeout
RECV_TIMEOUT 60

